### Project: Segmenting and Clustering Neighborhoods in Toronto (part two)

---

Now, itÂ´s time to get the coordinates of preview dataset.

Load necessary libraries

In [17]:
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', -1)

I'll import the data from last work to get the coordinates.

In [2]:
df_ca = pd.read_csv('df_ca.csv', sep = ';')
df_ca.head(10)

  Postcode      Borough                                    Neighbourhood
0  M1B      Scarborough  Rouge, Malvern
1  M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
2  M1E      Scarborough  Guildwood, Morningside, West Hill
3  M1G      Scarborough  Woburn
4  M1H      Scarborough  Cedarbrae
5  M1J      Scarborough  Scarborough Village
6  M1K      Scarborough  East Birchmount Park, Ionview, Kennedy Park
7  M1L      Scarborough  Clairlea, Golden Mile, Oakridge
8  M1M      Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9  M1N      Scarborough  Birch Cliff, Cliffside West

I was unsuccessful using the "geocode" library indicated by Coursera, as an "access denied" message was always returned in queries. After a little research, I found the library "pgeocode", which was efficient in querying the coordinates through the zip code.

In [3]:
from pgeocode import Nominatim as geon

I just need set the right country and request de information by the postal code.

In [8]:
G = geon(country='CA')

lat, lon = [], []

for pc in df_ca['Postcode']:
    result = G.query_postal_code(pc)
    lat.append(result['latitude'])
    lon.append(result['longitude'])

In [9]:
df_ca['Latitude'] = lat
df_ca['Longitude'] = lon

In [11]:
df_ca.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8113,-79.1930
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7878,-79.1564
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7678,-79.1866
3,M1G,Scarborough,Woburn,43.7712,-79.2144
4,M1H,Scarborough,Cedarbrae,43.7686,-79.2389
5,M1J,Scarborough,Scarborough Village,43.7464,-79.2323
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.7298,-79.2639
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.7122,-79.2843
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.7247,-79.2312
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.6952,-79.2646

So far so good, but I need to check the data for precaution.

In [12]:
df_ca.isna().sum()

Postcode         0
Borough          0
Neighbourhood    0
Latitude         1
Longitude        1
dtype: int64

In [37]:
df_ca[df_ca['Latitude'].isna()]

,Postcode,Borough,Neighbourhood,Latitude,Longitude
86,M7R,Mississauga,Canada Post Gateway Processing Centre,NaN,NaN

It seems that the library is not so efficient, but it's just one record to get the values. A search on Google Maps did the job.

In [42]:
df_ca.loc[86, 'Latitude'] = 43.6369656
df_ca.loc[86, 'Longitude'] = -79.615819

Let's check again

In [43]:
df_ca.isna().sum()

Postcode         0
Borough          0
Neighbourhood    0
Latitude         0
Longitude        0
dtype: int64

Great!